node_modules
.svelte-kit
build
.env
.env.*
!.env.example
data/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/wasm/**/*.wasm
src/lib/wasm/**/*.d.ts
src/lib/wasm/**/package.json
target/
